<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<form name="insertForm" th:action="@{/empInsert}" method="post" >
		<h3>사원 정보 등록</h3>
		<div>
			<label for="ename">이름</label>
			<input type="text" id="ename" name="lastName">
		</div>
		<div>
			<label for="email">이메일</label>
			<input type="email" id="email" name="email">
		</div>
		<div>
			<label for="hDate">입사일</label>
			<input type="date" id="hDate" name="hireDate">
		</div>
		<div>
			<label for="job">업무</label>
			<input type="text" id="job" name="jobId">
		</div>
		<div>
			<label for="sal">급여</label>
			<input type="number" id="sal" name="salary">
		</div>
		<div>
			<button type="submit">등록</button>
		</div>
	</form>
	<script>
		$('form[name="insertForm"]').on("submit", insertHandler);
		
		function insertHandler(event){
			event.preventDefault();
			
			let name =  $('input[name="lastName"]');
			if(name.val() == ''){
				alert("이름이 입력되지 않았습니다.");
				name.focus();
				return;
			}
			let email = $('input[name="email"]');
			if(email.val() == ''){
				alert("이메일이 입력되지 않았습니다.");
				email.focus();
				return;
			}
			let hDate = $('input[name="hireDate"]');
			if(hDate.val() == ''){
				alert("입사일이 등록되지 않았습니다.");
				hDate.focus();
				return;
			}
			let jobId = $('input[name="jobId"]');
			if(jobId.val() == ''){
				alert("업무가 입력되지 않았습니다.");
				jobId.focus();
				return;
			}
			let salary = $('input[name="salary"]');
			if(salary.val() <= 0){
				alert("급여는 최소한 0보다 커야 합니다.");
				salary.focus();
				return;
			}
			
			insertForm.submit();
		}
	</script>
</body>
</html>