<!DOCTYPE html>
<th:block xmlns:th="https://www.thymeleaf.org/"
		  th:fragment="HeaderFrag">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" th:href="@{/boardList}">게시글 목록</a>
        <a class="nav-link" th:href="@{/boardInsert}">게시글 등록</a>
      </div>
    </div>
  </div>
</nav>
</th:block>